.pagesContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pagesBtn,
.pagesPageNum {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 30px;
  border: 1px solid #1f51ff;
  background-color: white;
  color: #1f51ff;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.pagesBtn.inactive {
  pointer-events: none;
  border-color: gray;
  color: gray;
}

.pagesBtn:hover {
  background-color: #1f51ff;
  color: white;
}
