* {
  margin: 0;
  padding: 0;
}
.confirmationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.confirmationContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  text-align: center;
}
.confirmationTitle {
  color: #1f51ff;
}
.link {
  font-weight: normal;
  color: #1f51ff;
  text-decoration: none;
}

.confirmationContainerDark {
  color: white;
}

.confirmationContainerDark .confirmationTitle {
  color: gold;
}
.confirmationContainerDark .btnLink {
  color: gold;
}
.confirmationContainerDark .btn {
  color: black;
  background-color: gold;
  border-color: gold;
}
