.registrationForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
label {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}

.darkRegistrationForm {
  color: white;
}
.darkRegistrationForm .btnLink {
  color: gold;
}
.darkRegistrationForm input {
  border-color: gold;
  background-color: #505050;
  color: white;
}

.darkRegistrationForm .btn {
  background-color: gold;
  color: black;
  border-color: gold;
}
