.postsPage {
  box-sizing: border-box;
  height: 100vh;
  padding: 30px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .postsPage::-webkit-scrollbar {
  width: 0;
  height: 0;
} */
.postsHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  font-size: 25px;
  font-weight: bold;
  color: blue;

  padding-left: 55px;
}
.postsHeaderTitle {
  display: flex;
  gap: 30px;
  align-items: baseline;
}
.postsHeaderTabs {
  display: flex;
  gap: 20px;
  align-self: flex-start;
  flex-wrap: wrap;
}
.tab {
  width: 80px;
  height: 30px;
  border: 2px solid #1f51ff;
  background-color: #1f51ff;
  color: white;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;

  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showAllTab {
  font-size: 18px;
}

.activeTab {
  border-color: #1f51ff;
  color: #1f51ff;
  background-color: white;
}

.addBtn {
  width: 80px;
  height: 30px;
  border: 2px solid #1f51ff;
  background-color: #1f51ff;
  color: white;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
}

.postsPage .modalContent {
  width: 50%;
  gap: 0;
}
.imageContainer img {
  height: 250px;
}
.closeBtnContainer {
  display: flex;
  justify-content: right;
}
.closeBtn {
  border: none;
  outline: none;
  background-color: transparent;
  color: #1f51ff;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postsPageDark {
  background-color: #202020;
}
.postsPageDark .postsHeader,
.postsPageDark .closeBtn {
  color: gold;
}
.postsPageDark .addBtn {
  background-color: gold;
  border-color: gold;
  color: black;
}

.postsPageDark .tab {
  background-color: gold;
  border-color: gold;
  color: black;
}
.postsPageDark .activeTab {
  background-color: black;
  border-color: gold;
  color: gold;
}

.postsPageDark .actions {
  color: gold;
}
.postsPageDark .card {
  background-color: black;
}
.postsPageDark .cardContentDate,
.postsPageDark .cardContentTitle {
  color: gold;
}
.postsPageDark .activeLike {
  color: greenyellow;
  font-size: 30px;
}
.postsPageDark .activeDislike {
  color: crimson;
  font-size: 30px;
}
.postsPageDark .activeSave {
  color: darkorange;
  font-size: 30px;
}

/* PAGINATION STYLES */
.paginationContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.searchContainer {
  width: 25%;
}
.searchInp {
  width: 100%;
}
.pagination {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.limitInp {
  width: 45%;
}
.paginationActions {
  width: 45%;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.prevBtn,
.nextBtn {
  width: 20%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #1f51ff;
}
.prevBtn {
  border-radius: 10px 0px 0px 10px;
  border-right: 1px solid gray;
}
.nextBtn {
  border-radius: 0px 10px 10px 0px;
  border-left: 1px solid gray;
}
.pageNum {
  color: #1f51ff;
}
.inactive {
  color: gray;
}

.selectContainer {
  width: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.select {
  width: 100%;
  height: 30px;
  border: 2px solid #1f51ff;
  border-radius: 20px;
  outline: none;
}
