.postsPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}
.postsHeader {
  color: blue;
  font-weight: bold;
  text-align: left;
}
.postsMenu {
  padding: 10px;
  font-size: 17px;
}
.postsTitle {
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 25px;
}
.addBtn {
  width: 80px;
  height: 30px;
  border: 2px solid #1f51ff;
  background-color: #1f51ff;
  color: white;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
}
