.postPage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 30px;
  padding-bottom: 30px;
}
.postContainer {
  max-height: fit-content;
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: #1f51ff;
  border-radius: 15px;
  padding: 15px;
}
.postTitle {
  color: white;
  font-weight: bold;
  text-align: left;
  font-size: 25px;
}
.postContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.postImage {
  width: 40%;
}
.postImage img {
  width: 100%;
  height: auto;
  max-height: 250px;
}
.postText {
  width: 60%;
  text-align: justify;
  padding-left: 30px;
  padding-right: 20px;
  color: darkgrey;
}
.postDate {
  font-weight: bold;
  color: white;
}
.postPageDark {
  background-color: #202020;
}
.postPageDark .postTitle,
.postPageDark .postDate {
  color: gold;
}
.postPageDark .postContainer {
  background-color: black;
}
