body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
.App {
  margin: 0 auto;
}
.AppDark {
  background-color: #202020;
}
.appBody {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.appBodyDark {
  background-color: #202020;
}
