body {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.App {
  margin: 0 auto;
}
.AppDark {
  background-color: #202020;
}
.appBodyDark {
  background-color: #202020;
}
