form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
label {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}
.link {
  color: #1f51ff;
  text-decoration: none;
  font-weight: bold;
}
