.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
label {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}

.darkLoginForm {
  color: white;
}
.darkLoginForm .btnLink {
  color: gold;
}
.darkLoginForm input {
  border-color: gold;
  background-color: #505050;
  color: white;
}

.darkLoginForm .btn {
  background-color: gold;
  color: black;
  border-color: gold;
}
